header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.left-header a:link,
.left-header a:visited,
.left-header a:link,
.left-header a:visited {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.15s;
  cursor: pointer;
}

.left-header a:hover {
  color: #4ee1a0;
}
.left-header {
  font-size: 3rem;
  text-align: center;
}

.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.right-header img,
.footer-icons img {
  filter: invert(100%);
  cursor: pointer;
  transition: all 0.3s;
}

.right-header img:hover,
.footer-icons img:hover {
  filter: invert(77%) sepia(33%) saturate(756%) hue-rotate(96deg)
    brightness(98%) contrast(84%);
  transform: scale(1.5);
}

.right-header a {
  cursor: pointer;
}

@media screen and (min-width: 850px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
